<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:http="http://schemas.android.com/apk/res-auto"
    package="com.fanwu.chat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.fanwu.chat.ToDoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fanwu.chat.mvp.v.home.impl.HomeActivity" />
        <activity
            android:name="com.fanwu.chat.mvp.v.login.impl.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fanwu.chat.mvp.v.login.impl.AlbumActivity" />
        <activity android:name="com.fanwu.chat.mvp.v.login.impl.IntroduceActivity" />
        <activity android:name="com.fanwu.chat.mvp.v.login.impl.LoginActivity"></activity>
    </application>

</manifest>
